/* #######################################################
** Enhanced General Website Styles
####################################################### */
:root {
    --bg-color: #dddddd;
    --card-bg-color: #f7f7f7;
    --card-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    --border-radius: 10px;
    /*Cards border radius */
    --primary-color: #34495e;
    /* Dark blue for a modern touch */
    --secondary-color: #16a085;
    /* Soft green for interactive elements */
    --accent-color: #75449a;
    /* Bright blue for accents */
    --error-color: #e74c3c;
    /* Error or warning indications */
    --success-color: #2ecc71;
    /* Success state indication */
    --icon-size: 80px;
    /* Adjust size as needed */
    --transition-speed: 0.3s;
    --indicator-height: 28px;
    --indicator-dot-size: 19px;
    /* Size of the indicator dot */
    --indicator-radius: 10px;
    --font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body, html {
    transform: scale(0.9); /* Scales down content to 90% of its original size */
    transform-origin: top left; /* Ensures the scaling starts from the top left */
    width: 111.11%; /* Counteracts the scaling to maintain full width */
    height: 111.11%; /* Counteracts the scaling to maintain full height */
    overflow-x: hidden; /* Prevents potential horizontal scrollbar */
    font-family: var(--font-family);
    background: var(--bg-color);
    color: var(--primary-color);
}

body.rainfall {
    /* Slight adjustment to not fully obscure the background animation */
    background-color: rgba(200, 200, 210, 0.5); /* Semi-transparent blue background */
    transition: background-color 0.3s ease;
}

/* Improved Header Style */

.header {
    display: flex;
    /* Change from column to row to align items on the same line */
    align-items: center; /* Keep items vertically aligned in the center */
    justify-content: space-between; /* Distribute space between items */
    text-align: center; /* Ensure text is centered */
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--card-bg-color);
    width: 100%;
}

/* You might want to adjust the container of your buttons to fit into the header correctly. */
.toggle-buttons {
    display: flex;
    justify-content: center;
    order: 2; /* Ensures that it comes after the clock in layout */
    flex-grow: 1; /* This will allow it to use any available space */
    align-items: center; /* Align the buttons vertically in the center */
}

.button,
.toggle-buttons button {
    background-color: var(--accent-color);
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    /* Rounded borders for buttons */
    cursor: pointer;
    margin: 0 10px;
    /* Space between buttons */
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

.button:hover,
.toggle-buttons button:hover {
    background-color: gray;
    transform: scale(1.05);
    /* Slightly enlarges button on hover */
}

.clock {
    /* Additional styles to ensure the clock aligns properly */
    padding-right: 20px; /* Right padding to separate from other elements if necessary */
    order: 1; /* Adjusts the order if required */
}

/* Header title adjustment */
.header h1 {
    flex-grow: 2; /* Allows the title to grow and use any available space */
    order: 3; /* Adjust the order so title comes at last */
}

/* #######################################################
**   CARDS CSS
####################################################### */

/* Ensuring .container can accommodate 5 cards */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #e0e0e0; /* Light border for definition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    background: var(--card-bg-color);
    border-radius: var(--border-radius); /* Use CSS variable for border-radius */
    width: 220px; /* Width set for a more compact look */
    margin: 12px; /* Margin around cards */
    padding: 18px; /* Padding inside cards */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute space evenly between items */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    
   /* Styling adjustments for responsive layout */
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 10%; /* Adjust this value based on desired initial size and gap */
   min-width: 180px; /* Minimum width to ensure usability */
   min-height: 300px; /* Minimum height to ensure cards do not become too short */
   max-height: 600px; /* Maximum height to ensure cards do not stretch too tall */
   align-self: flex-start; /* Aligns card to start along the cross axis, preventing vertical stretch */
}

/* Data Points Style Enhancement */
.card p.data {
    color: var(--accent-color);
    /* Use the accent color to highlight data */
    font-size: 24px;
    /* Increase font size for better visibility */
    font-weight: 400;
    /* Make the font weight bolder */
    margin: 10px 0 20px;
    /* Adjust margins for proper spacing */

    /* Soft shadow for depth */
    font-family: 'Poppins', sans-serif;
    /* Use a modern, clean font */
}


.card:hover {
    transform: scale(1.03);
    /* Slight scale up on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow for depth on hover */

}

.card img.icon {
    width: 80px;
    /* Controlled width for consistency */
    height: 80px;
    /* Controlled height to match width, maintaining aspect ratio */
    margin-bottom: 20px;
    /* Space between image and text */
}

.card .image-container {
    width: 100%;
    /* Full width to match card width */
    display: flex;
    /* Enables Flexbox */
    justify-content: center;
    /* Center-aligns the image horizontally */
}

/* Responsive Image Styling */
.card .image-container img {
    max-width: 100%;
    /* Maximum width constraint */
    max-height: 100%;
    /* Maximum height constraint */
    object-fit: cover;
    /* Ensures cover fit without distorting aspect ratio */
}

.card img.icon {
    width: var(--icon-size);
    /* Adjust icon size */
    height: var(--icon-size);
    /* Maintain aspect ratio */
    margin-bottom: 20px;
    /* Space below the icon */
}

/* #######################################################
**   INDICATOR BARS
####################################################### */
.indicator-bar {
    width: 100%;
    height: var(--indicator-height);
    position: relative;
    margin: 20px auto;
    border-radius: var(--indicator-radius);
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.indicator {
    /* Reintroduce the white dot with a buffer zone */
    width: var(--indicator-dot-size);
    height: var(--indicator-dot-size);
    background-color: white;
    border: 2px solid #fff;
    /* Outer white border for buffer zone */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
        /* Soft shadow */
        0 0 0 3px #ffffff;
    /* White buffer around the dot */
    transition: left var(--transition-speed) ease;
}


/* Modernized Gradient Styles for Various Indicators */
.temperature-bar {
    background: linear-gradient(to right, #81d4fa, #80cbc4, #ffee58, #ffab91, #ff7043);
}

.humidity-bar {
    background: linear-gradient(to right, #ffccbc, #ffe082, #80cbc4, #81d4fa);
}

.pressure-bar {
    background: linear-gradient(to right, #ffcc80, #80cbc4, #ffcc80);
}

.light-lux-bar {
    background: linear-gradient(to right, #9fa8da, #81d4fa, #e6ee9c, #ffffff);
}

.uv-index-bar {
    background: linear-gradient(to right, #b2dfdb, #ffe082, #ffcc80, #ffab91, #b39ddb);
}

.uva-bar {
    background: linear-gradient(to right, #f3e5f5 0%, #ce93d8 50%, #9c27b0 100%);
}

.uvb-bar {
    background: linear-gradient(to right, #fce4ec 0%, #f48fb1 50%, #c2185b 100%);
}

.pm25-bar {
    background: linear-gradient(to right, #c5e1a5 0%, #dcedc8 25%, #fff59d 50%, #ffcc80 75%, #ef9a9a 100%);
}

.pm10-bar {
    background: linear-gradient(to right, #c5e1a5 0%, #dcedc8 25%, #fff59d 50%, #ffcc80 75%, #e57373 100%);
}

.sound-bar {
    background: linear-gradient(to right, #80deea 0%, #fff59d 50%, #ffb74d 75%, #ef9a9a 100%);
}

/* #######################################################
 ###            Weather
 ####################################################### */

 .weather-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: none;
    z-index: -1; /* Make sure this z-index is higher than the body content but possibly lower than direct interactive elements or modals */
}


#rain-animation.active,
#sun-animation.active {
    display: block; /* Show animation when active */
    /* Removed duplicate properties that are already declared in .weather-animation */
}

/* Adjusted to correct path considering Flask's static files serving convention */
#rain-animation.active {
    background-image: url('icons/rain-animation.gif'); /* Correct path for Flask projects */
}

/* Adjusted for the sun-animation if needed */
#sun-animation.active {
    background-image: url('icons/sun-animation.gif'); /* Example path, adjust accordingly */
}
/* #######################################################
 ###            Responsive adjustments
 ####################################################### */
 
/* For very small screens */
@media screen and (max-width: 600px) {
    .card {
        flex-basis: 100%; /* Full viewport width for small screens */
        margin: 8px; /* Adjust margin for very small screens */
    }
}

/* For medium screens */
@media screen and (max-width: 960px) {
    .card {
        flex-basis: 45%; /* Allow two cards per row with increased space */
        margin: 8px; /* Adjust margin for medium screens */
    }
}

/* For large screens where 5 columns should fit */
@media screen and (min-width: 1024px) {
    .card {
        flex-basis: calc(5% - 5px); /* Smaller, to fit 5 in a row */
        margin: 10px; /* Consistent spacing */
    }
}